.manager_body_container
{
    font-size: 1.2em;
}

.manager_web_page_container
{
    padding: 0.5em;
    margin-bottom: 1em;

    background: rgba(255,255,255,0.8);
}

.manager_web_page_title
{
    padding: 0.2em 0;

    font-weight: bold;
}

.manager_web_page_button_container
{
    padding: 0.3em 0;
    text-align: center;
}

.manager_web_page_button_container > .general_style_input_button
{
    display: inline-block;
    width: 8em;
    margin: 0 0.5em;

    padding: 0.5em;
}

@media only screen and (min-width: 768px) {
    .manager_body_container
    {
        font-size: 1.2em;
    }

    .manager_web_page_container
    {
        margin-bottom: 0;
    }

    .manager_web_page_container:nth-child(even)
    {
        background: rgba(0,0,0,0.1);
    }

    .manager_web_page_title,
    .manager_web_page_button_container
    {
        display: inline-block;
        width: 50%;
    }

    .manager_web_page_button_container
    {
        padding: 0;
        text-align: right;
    }

    .manager_web_page_button_container > .general_style_input_button
    {
        width: 40%;

        margin: 0;
        padding: 0.2em;
    }
}


.footer_action_wrapper
{
    display:block;
    width:100%;
    position:fixed;
    left:0;
    bottom:0;

    color: #ffffff;
    font-size: 1.6em;
    text-align: center;

    z-index: 500;
}

.footer_action_button
{
    display:inline-block;
    width: 33.333333333%;
    padding: 0.5em 0;

    background: rgba(0,0,0,0.6);

    border-left: 1px solid #333333;
    border-right: 1px solid #999999;

    box-sizing: border-box;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    cursor: pointer;
}

.footer_action_button:hover
{
    background: rgba(0,0,0,0.5);
}

@media only screen and (min-width: 768px)
{
    .footer_action_wrapper
    {
        position:static;
        left:auto;
        bottom:auto;

        color: #222222;
        font-size: 1.2em;
        font-weight: bold;
    }

    .footer_action_button
    {
        width: 10em;
        margin: 0 1em;

        background:#bbbbbb;

        border: 2px outset #bbbbbb;
        border-radius: 3px;
    }

    .footer_action_button:hover
    {
        background:#cccccc;
    }

    .footer_action_button:active
    {
        border-style: inset;
    }
}

.form_row_container
{
    margin-bottom: 0.5em;
}

.form_row_container > label
{
    display: block;
    height: 2em;
    padding: 0 0.5em;

    font-size: 1.4em;
    font-weight: bold;

    -webkit-transition:height 500ms ease;
    -moz-transition:height 500ms ease;
    -ms-transition:height 500ms ease;
    -o-transition:height 500ms ease;
    transition:height 500ms ease;

    overflow: hidden;
}

.form_row_container_error label
{
    color: #ee7777;
}

/*.form_container:hover .form_row_container > label {height: 0;}
.form_container .form_row_container:hover > label {height: 2em;}*/

.form_row_container input[type="text"],
.form_row_container input[type="password"],
.form_row_container select,
.form_row_container textarea
{
    width: 100%;
    padding: 0.5em 1em;

    color: #333333;
    font-size: 1.4em;

    border:2px solid #cccccc;
    border-radius:3px;
}

.form_row_container textarea
{
    min-height: 6em;
    resize: none;
}

.form_row_container_highlight input[type="text"],
.form_row_container_highlight input[type="password"],
.form_row_container_highlight select,
.form_row_container_highlight textarea
{
    border-color: #ffb303;
}

.form_row_container_error input[type="text"],
.form_row_container_error input[type="password"],
.form_row_container_error select,
.form_row_container_error textarea
{
    border-color: #ee7777;
}

#form_members_organization_page_content
{
    height: 20em;
}

@media only screen and (min-width: 768px)
{
    .form_row_container
    {
        margin-bottom: 1em;
    }

    .form_row_container > label
    {
        display: inline-block;
        width: 20%;
        vertical-align: top;
        padding-top: 0.3em;
    }

    .form_row_container input[type="text"],
    .form_row_container input[type="password"],
    .form_row_container select,
    .form_row_container textarea
    {
        display: inline-block;
        width: 40%;
    }

    #form_members_organization_page_content
    {
        width: 75%;
    }
}

.form_bottom_row_container
{
    height: 2.4em;
    font-size: 1.6em;
}

.form_image_uploader_container
{
    display: inline-block;
    position: relative;
}

.form_image_uploader_trigger
{
    display: inline-block;
    background: #ffffff;

    border:2px solid #cccccc;
    border-radius: 3px;
}

.form_row_container_error .form_image_uploader_trigger
{
    border-color: #ee7777;
}

.form_image_uploader_delete_trigger
{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top:-10px;
    right:-10px;

    background: #666666;

    border-radius: 50%;

    color: #ffffff;
    line-height: 30px;
    text-align: center;

    cursor: pointer;

    opacity: 0.8;
    z-index: 100;
}

.form_image_uploader_delete_trigger:before
{
    display: inline-block;
    font-family: 'FontAwesome';
    font-size: 18px;
    content: '\f00d';
}

.form_image_uploader_container_empty .form_image_uploader_delete_trigger {display:none;}

.form_row_street_address_map
{
    display: none;
    height: 0;
    padding-bottom: 75%;
}

.form_row_street_address_container_show_map .form_row_street_address_input
{
    display: none;
}

.form_row_street_address_container_show_map .form_row_street_address_map
{
    display: block;
}

.form_row_street_address_display_container
{
    display: block;
    height: 0;
    position: relative;
    padding: 0;

    background: #ffffc0;

    border-radius: 5px;

    color: #666666;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;

    -webkit-transition:height 500ms ease, padding-top 500ms ease, padding-bottom 500ms ease, margin-bottom 500ms ease;
    -moz-transition:height 500ms ease, padding-top 500ms ease, padding-bottom 500ms ease, margin-bottom 500ms ease;
    -ms-transition:height 500ms ease, padding-top 500ms ease, padding-bottom 500ms ease, margin-bottom 500ms ease;
    -o-transition:height 500ms ease, padding-top 500ms ease, padding-bottom 500ms ease, margin-bottom 500ms ease;
    transition:height 500ms ease, padding-top 500ms ease, padding-bottom 500ms ease, margin-bottom 500ms ease;

    overflow: hidden;
}

.form_row_street_address_display_container .reset_map
{
    display: block;
    position: absolute;
    top: 0.2em;
    right: 0.6em;

    font-size: 1.6em;
    font-style: normal;

}

.form_row_street_address_container_show_map .form_row_street_address_display_container
{
    height: 5.2em;
    padding: 0.5em 1em;
    margin-bottom: 1em;
}

.form_row_street_address_display_row
{
    display: block;
    width: 100%;
}

.form_hours_work_input {display: none;}
.form_hours_work_input_show {display: block;}

.form_hours_work_input select
{
    margin-bottom: 0.5em;
}

.form_hours_work_input_label
{
    padding: 0.3em 0.8em;
    font-size: 1.2em;
    font-weight: bold;
}

.form_hours_work_input_time_custom_container
{
    display: none;
    padding: 1em;

    background: rgba(255,255,255,0.8);

    border-radius: 3px;

    font-size: 0.9em;
}

.form_hours_work_input_time_custom_container_show
{
    display: block;
}

.form_hours_work_input_button_container
{
    text-align: center;
}

.form_hours_work_input_submit,
.form_hours_work_input_cancel
{
    display: inline-block;
    width: 13em;
    margin: 0.5em 1em;

    font-size: 1.4em;
}

@media only screen and (max-width:479px)
{
    .form_hours_work_input_submit,
    .form_hours_work_input_cancel
    {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 0.5em auto;
    }

}

.form_hours_work_display
{
    position: relative;
    padding: 0.5em 1em;

    background: #ffffc0;

    border-radius: 5px;

    color: #666666;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
}

.form_hours_work_display .edit_hours_work
{
    display: block;
    position: absolute;
    top: 0.2em;
    right: 0.6em;

    font-size: 1.6em;
    font-style: normal;
}