.manager_body_container
{
    font-size: 1.2em;
}

/*# Manager Index Items #*/
.manager_list_item_container
{
    padding: 0.5em;
    margin-bottom: 1em;

    background: rgba(255,255,255,0.6);
}

.manager_list_item_add_label
{
    padding-right: 1em;
    font-weight: bold;
}

.manager_list_item_add_name
{
    padding: 0.5em 1em;
    border-radius: 3px;
}

.manager_list_item_add_submit
{
    width: 8em;
    margin-left: 1em;
}

.manager_list_item_image
{
    display: none;
}

.manager_list_item_title
{
    padding: 0.2em 0;

    font-weight: bold;
}

.manager_list_item_button_container
{
    padding: 0.3em 0;
    text-align: center;
}

.manager_list_item_button_container > .general_style_input_button
{
    display: inline-block;
    width: 8em;
    margin: 0 0.5em;

    padding: 0.5em;
}

@media only screen and (min-width: 768px) {
    .manager_list_item_container
    {
        margin-bottom: 0;
    }

    .manager_list_item_container:nth-child(even)
    {
        background: rgba(0,0,0,0.1);
    }

    .manager_list_item_image
    {
        display: inline-block;
        width: 8%;
        height: 5em;
        margin-right: 2%;

        background: url("../image/logo.jpg") center center no-repeat;
        background-size: cover;

        vertical-align: middle;
    }

    .manager_list_item_title,
    .manager_list_item_button_container
    {
        display: inline-block;
        width: 45%;
    }

    .manager_list_item_button_container
    {
        padding: 0;
        text-align: right;
    }

    .manager_list_item_button_container > .general_style_input_button
    {
        width: 10em;

        margin: 0;
        padding: 0.2em;
    }
}


/*# Manager Web Page Index #*/
.manager_web_page_container
{
    padding: 0.5em;
    margin-bottom: 1em;

    background: rgba(255,255,255,0.6);
}

.manager_web_page_image
{
    display: none;
}

.manager_web_page_title
{
    padding: 0.2em 0;

    font-weight: bold;
}

.manager_web_page_button_container
{
    padding: 0.3em 0;
    text-align: center;
}

.manager_web_page_button_container > .general_style_input_button
{
    display: inline-block;
    width: 8em;
    margin: 0 0.5em;

    padding: 0.5em;
}

@media only screen and (min-width: 768px) {
    .manager_web_page_container
    {
        margin-bottom: 0;
    }

    .manager_web_page_container:nth-child(even)
    {
        background: rgba(0,0,0,0.1);
    }

    .manager_web_page_image
    {
        display: inline-block;
        width: 8%;
        height: 5em;
        margin-right: 2%;

        background: url("../image/logo.jpg") center center no-repeat;
        background-size: cover;

        vertical-align: middle;
    }

    .manager_web_page_title,
    .manager_web_page_button_container
    {
        display: inline-block;
        width: 45%;
    }

    .manager_web_page_button_container
    {
        padding: 0;
        text-align: right;
    }

    .manager_web_page_button_container > .general_style_input_button
    {
        width: 10em;

        margin: 0;
        padding: 0.2em;
    }
}

/*# Manager Product List Category #*/
.manager_category_container
{
    padding: 0.5em;
    margin-bottom: 1em;

    background: rgba(255,255,255,0.6);
}

.manager_category_image
{
    display: none;
}

.manager_category_title
{
    padding: 0.2em 0;

    font-weight: bold;
}

.manager_category_button_container
{
    padding: 0.3em 0;
    text-align: center;
}

.manager_category_button_container > .general_style_input_button
{
    display: inline-block;
    width: 8em;
    margin: 0 0.5em;

    padding: 0.5em;
}

@media only screen and (min-width: 768px) {
    .manager_category_container
    {
        margin-bottom: 0;
    }

    .manager_category_container:nth-child(even)
    {
        background: rgba(0,0,0,0.1);
    }

    .manager_category_image
    {
        display: inline-block;
        width: 8%;
        height: 5em;
        margin-right: 2%;

        background: url("../image/logo.jpg") center center no-repeat;
        background-size: cover;

        vertical-align: middle;
    }

    .manager_category_title
    {
        display: inline-block;
        width: 25%;
    }

    .manager_category_button_container
    {
        display: inline-block;
        width: 65%;
    }

    .manager_category_button_container
    {
        padding: 0;
        text-align: right;
    }

    .manager_category_button_container > .general_style_input_button
    {
        width: 10em;

        margin: 0;
        padding: 0.2em;
    }
}

@media only screen and (max-width: 479px) {
    .manager_category_button_container > .general_style_input_button
    {
        margin-bottom: 0.5em;
    }

}

/*# Manager Footer Action Bar #*/
.footer_action_wrapper
{
    display:block;
    width:100%;
    position:fixed;
    left:0;
    bottom:0;

    color: #ffffff;
    font-size: 1.6em;
    text-align: center;

    z-index: 500;
}

.footer_action_button
{
    display:inline-block;
    width: 33.333333333%;
    padding: 0.5em 0;

    background: rgba(0,0,0,0.6);

    border-left: 1px solid #333333;
    border-right: 1px solid #999999;

    box-sizing: border-box;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    cursor: pointer;
}

.footer_action_button:hover
{
    background: rgba(0,0,0,0.5);
}

@media only screen and (min-width: 768px)
{
    .footer_action_wrapper
    {
        position:static;
        left:auto;
        bottom:auto;

        color: #222222;
        font-size: 1.2em;
        font-weight: bold;
    }

    .footer_action_button
    {
        width: 10em;
        margin: 0 1em;

        background:#bbbbbb;

        border: 2px outset #bbbbbb;
        border-radius: 3px;
    }

    .footer_action_button:hover
    {
        background:#cccccc;
    }

    .footer_action_button:active
    {
        border-style: inset;
    }
}

