#banner_wrapper {background-image:url(../image/bg_top4_api_login.m.jpg);}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #banner_wrapper {background-image:url(../image/bg_top4_api_login.l.jpg);}
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    #banner_wrapper {background-image:url(../image/bg_top4_api_login.xl.jpg);}
}
@media only screen and (min-width: 1200px) {
    #banner_wrapper {background-image:url(../image/bg_top4_api_login.xxl.jpg);}
}

.member_cta_button_wrapper
{
    padding: 2em 0;
}

.member_cta_button
{
    display: block;
    width: 100%;
    margin-bottom: 1em;

    font-size: 1.6em;
}